*build/
*bin/
*devel/
*.record
*test_labels.csv
*train_labels.csv
*images/
*frozen_inference_graph*
*tennisball_graph*/
*ssd_inception_v2_coco_2017_11_17/
*ssd_mobilenet_v1_coco_2017_11_17/
*training/checkpoint
*training/events*
*training/graph*
*training/model*
*training/pipeline*
*saved_model/
*.pyc
